
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClienteLabel" data-translate="peluqueriaApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cliente.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cliente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.cliente.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.cliente.nombre"
                    required />
            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.cliente.apellido" for="field_apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="field_apellido"
                    ng-model="vm.cliente.apellido"
                    required />
            <div ng-show="editForm.apellido.$invalid">
                <p class="help-block"
                    ng-show="editForm.apellido.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.cliente.fecha_nacimiento" for="field_fecha_nacimiento">Fecha Nacimiento</label>
                <div class="input-group">
                    <input id="field_fecha_nacimiento" type="text" class="form-control" name="fecha_nacimiento" uib-datepicker-popup="{{dateformat}}" ng-model="vm.cliente.fecha_nacimiento" is-open="vm.datePickerOpenStatus.fecha_nacimiento"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha_nacimiento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fecha_nacimiento.$invalid">
                <p class="help-block"
                    ng-show="editForm.fecha_nacimiento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.cliente.celular" for="field_celular">Celular</label>
            <input type="text" class="form-control" name="celular" id="field_celular"
                    ng-model="vm.cliente.celular"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.cliente.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                    ng-model="vm.cliente.direccion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.cliente.observacion" for="field_observacion">Observacion</label>
            <input type="text" class="form-control" name="observacion" id="field_observacion"
                    ng-model="vm.cliente.observacion"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
