
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCorteLabel" data-translate="peluqueriaApp.corte.home.createLabel">Create a Corte</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.corte.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.corte.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.corte.fecha" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.corte.fecha" is-open="vm.datePickerOpenStatus.fecha"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fecha.$invalid">
                <p class="help-block"
                    ng-show="editForm.fecha.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fecha.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.corte.precio" for="field_precio">Precio</label>
            <input type="number" class="form-control" name="precio" id="field_precio"
                    ng-model="vm.corte.precio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.corte.tipo_corte" for="field_tipo_corte">Tipo Corte</label>
            <select class="form-control" name="tipo_corte" ng-model="vm.corte.tipo_corte" id="field_tipo_corte" required>
				<option value="Alisado" data-translate="peluqueriaApp.Tipo_corte.Alisado">Alisado</option>
                <option value="Keratina" data-translate="peluqueriaApp.Tipo_corte.Keratina">Keratina</option>
                <option value="CorteDama" data-translate="peluqueriaApp.Tipo_corte.CorteDama">Corte Dama</option>
                <option value="CorteCaballero" data-translate="peluqueriaApp.Tipo_corte.CorteCaballero">Corte Caballero</option>
                <option value="Calor" data-translate="peluqueriaApp.Tipo_corte.Calor">Calor</option>
                <option value="Mechas" data-translate="peluqueriaApp.Tipo_corte.Mechas">Mechas</option>
                <option value="Californianas" data-translate="peluqueriaApp.Tipo_corte.Californianas">Californianas</option>
                <option value="Reflejos" data-translate="peluqueriaApp.Tipo_corte.Reflejos">Reflejos</option>
                <option value="CalorYReflejos" data-translate="peluqueriaApp.Tipo_corte.CalorYReflejos">Calor y Reflejos</option>
                <option value="CalorYMechas" data-translate="peluqueriaApp.Tipo_corte.CalorYMechas">CalorYMechas</option>
                <option value="Brushing" data-translate="peluqueriaApp.Tipo_corte.Brushing">Brushing</option>
                <option value="Bohox" data-translate="peluqueriaApp.Tipo_corte.Bohox">Bohox</option>
                <option value="BanioCrema" data-translate="peluqueriaApp.Tipo_corte.BanioCrema">Banio de Crema</option>
            </select>
            <div ng-show="editForm.tipo_corte.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipo_corte.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="peluqueriaApp.corte.detalle" for="field_detalle">Detalle</label>
            <input type="text" class="form-control" name="detalle" id="field_detalle"
                    ng-model="vm.corte.detalle"
                     />
        </div>

        <div class="form-group">
            <label data-translate="peluqueriaApp.corte.cliente" for="field_cliente">Cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" ng-model="vm.corte.cliente" ng-options="cliente as cliente.nombre + vm.vacio + cliente.apellido for cliente in vm.clientes track by cliente.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.cliente.$invalid">
            <p class="help-block"
                ng-show="editForm.cliente.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
